<p>A földbe süllyesztett fóliasátor egy indián tradíció, amihez moduláris, professzionális irányítási rendszert tervezünk fejleszteni.
Az eredmény egy kis költséggel, bárki által megépíthető, szinte téli fűtés nélkül is növénytermesztésre alkalmas hőmérsékletet biztosító,
automatikusan vezérelhető termesztőberendezés. </p>
<p>Egy háztáji gazdaságban az üvegház mellett egyéb tevékenységek irányítása is igényelhet
számítógépes felügyeletet (állattartás, biztonságtechnika, stb.).
Az általunk fejlesztendő rendszer ezeket az igényeket is ki kívánja szolgálni.
A megoldásunk alapja ezért egy univerzális, organikusan bővíthető, alacsony költségű irányító-rendszer.</p>
<p>A végeredmény kecsegtető, a célig vezető út rögös.</p>
<p>A 2017. tavaszán MVM Edison díjat nyert projektünk célja, hogy megosszuk az út folyamán nyert tapasztalatainkat minden érdeklődővel,
így számukra már könnyebbé téve e rögös út bejárását. </p>
<p>Ezért első lépésként magyar nyelven közzétesszük a walipini leírását.
Munkánk következő állomásaként a walipinik megtervezését segítő, szimulációs szoftwert fejlesztünk.
Majd megépítjük saját walipininket, amiben méréseket végzünk, hogy igazolhassuk, hogy Hazánkban is érdemes walipinit építeni,
valamint tesztelni tudjuk a kifejlesztendő, moduláris irányítási szoftverünket valós körülmények között.</p>
<p>Tapasztalatainkat, adatainkat korlátlanul, szabadon hozzáférhetővé tesszük.</p>
